
#thirdDiv{
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 500px;
    background: slategrey;
    padding: 50px;
    border-radius: 20px;
    border: rgb(68, 238, 16);
    
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
.divClass{
    text-align: center;
}
